.TodoListItemContent.completed input {
  text-decoration: line-through; }

.TodoListItemContent.important form.edit-todo input {
  color: #ff5f00; }

.TodoListItemContent form.edit-todo {
  display: inline-block;
  vertical-align: top; }
  .TodoListItemContent form.edit-todo input {
    font-size: 1em;
    width: 600px;
    border: none;
    padding: 7px 8px;
    background-color: #1b1b1b;
    color: inherit;
    caret-color: transparent;
    border-radius: 4px; }
  .TodoListItemContent form.edit-todo.isEditing input {
    background-color: rgba(255, 255, 255, 0.1);
    caret-color: #fff; }

.TodoListItemContent .todo-completedOn {
  color: #494949;
  font-size: 0.8em;
  margin: 2px 0px 0px 5px; }
