@import "../../colors.scss";

.TodoListItemContent {
  &.completed {
    form.edit-todo {
      input {
        text-decoration: line-through;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
      }
    }
  }

  form.edit-todo {
    display: inline-block;
    vertical-align: top;

    .contentWidthCalculator {
      visibility: hidden;
      height: 0px;

      .content {
        font-size: 1em;
        box-sizing: border-box;
      }
    }
    input {
      font-size: 1em;
      border: 1px solid rgba(255, 255, 255, 0);
      padding: 7px 8px;
      background-color: inherit;
      color: inherit;
      caret-color: transparent;
      border-radius: 4px;
      transition: 0.5s background-color, 0.25s border-color;
      line-height: 16px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    &.isEditing input {
      background-color: rgba(0, 0, 0, 0.3);
      border-color: rgba(255, 255, 255, 0.2);
      caret-color: #fff;
    }
  }

  .todo-completedOn {
    color: rgba(255, 255, 255, 0.3);
    font-size: 0.8em;
    margin: 2px 0px 0px 5px;
  }
}
