#Login,
#Register {
  display: flex;
  margin-top: 35vh;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.25);
  padding: 70px; }
  #Login .form-group input,
  #Register .form-group input {
    font-size: 1.5em;
    border: none;
    padding: 10px;
    padding-left: 15px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    margin-bottom: 30px; }
    #Login .form-group input::-webkit-input-placeholder,
    #Register .form-group input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #ccc; }
    #Login .form-group input::-moz-placeholder,
    #Register .form-group input::-moz-placeholder {
      /* Firefox 19+ */
      color: #ccc; }
    #Login .form-group input:-ms-input-placeholder,
    #Register .form-group input:-ms-input-placeholder {
      /* IE 10+ */
      color: #ccc; }
    #Login .form-group input:-moz-placeholder,
    #Register .form-group input:-moz-placeholder {
      /* Firefox 18- */
      color: #ccc; }
  #Login button,
  #Register button {
    font-size: 1.5em;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    margin-right: 20px; }
  #Login .linkContainer,
  #Register .linkContainer {
    text-align: center;
    padding-top: 40px; }
