.TodoListItem {
  height: 35px;
  display: flex;
  align-items: center;
  margin: 15px 20px;
  background-color: #232323;
  border-radius: 6px;
  padding: 6px 20px;
  cursor: pointer;
  transition: 0.15s background-color;

  &:first-of-type {
    margin-top: 0px;
  }

  &:hover {
    background-color: #303030;
  }

  &.selected {
    background-color: #404040;
  }

  &.important {
    background-color: #340622;
  }

  &.important:hover {
    background-color: #46072e;
  }

  // &:hover.important,
  &.selected.important {
    background-color: #540a38;
  }

  .todo-option-icons {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    svg {
      height: 25px;
      cursor: pointer;
    }
  }
}
