.TodoListItem {
  height: 35px;
  display: flex;
  align-items: center;
  margin: 15px 20px;
  background-color: #292929;
  border-radius: 6px;
  padding: 6px 30px;
  cursor: pointer;
  transition: 0.25s background-color;

  &:first-of-type {
    margin-top: 0px;
  }

  // &:hover,
  &.selected {
    background-color: #404040;
  }

  &.important {
    background-color: #450f30;
  }

  // &:hover.important,
  &.selected.important {
    background-color: #5e0c3f;
  }

  .todo-option-icons {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    svg {
      height: 25px;
      cursor: pointer;
    }
  }
}
