.TodoListItem {
  height: 35px;
  display: flex;
  align-items: center;
  margin: 15px 20px;
  background-color: #202020;
  border-radius: 6px;
  padding: 6px 30px;

  &:first-of-type {
    margin-top: 0px;
  }

  &.selected {
    background-color: #303030;
  }

  &.important {
    background-color: rgba(#ff3400, 0.25);
  }

  &.selected.important {
    background-color: rgba(#ff3400, 0.35);
  }

  .todo-option-icons {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    svg {
      height: 25px;
      cursor: pointer;
    }
  }
}
