.TodoListItem {
  height: 35px;
  border-bottom: 1px solid #333;
  padding: 10px 30px 10px 30px;
  display: flex;
  align-items: center; }
  .TodoListItem:first-of-type {
    border-top: 1px solid #333; }
  .TodoListItem .todo-option-icons {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%; }
    .TodoListItem .todo-option-icons svg {
      height: 25px;
      cursor: pointer; }
