@import "../../colors.scss";

#TodoList {
  height: 100%;

  &.todoSelected {
    ul.todos {
      width: calc(100% - 401px);
    }

    #TodoDetailsPane {
      right: 0px;
    }
  }

  #todoListContainer {
    position: absolute;
    left: 0px;
    top: 146px;
    width: 100%;
  }

  ul.todos {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    width: 100%;
    float: left;
    transition: 1s width;
  }

  #subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 30px 0px;
    margin-top: 52px;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: $background-color;
  }

  #no-todos {
    margin-left: 28px;
  }
}
