@import "../../colors.scss";

#TodoDetailsPane {
  background-color: rgba(255, 255, 255, 0.05);
  overflow-x: hidden;
  width: 0px;
  float: left;
  height: calc(100% - 1px);
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  display: none;

  #detailsContainer {
    width: 100%;
  }

  input,
  textarea {
    display: block;
    border: 1px solid rgba(#fff, 0);
    padding: 10px;
    font-size: 1.1em;
    font-family: sans-serif;
    width: 94%;
    height: 200px;
    background-color: inherit;
    color: $default-text-color;
    resize: none;
    border-radius: 6px;
    line-height: 25px;
    caret-color: #2b2d3e;
    cursor: pointer;
    transition: 0.5s background-color;

    &:hover {
      background-color: rgba(#000, 0.25);
    }

    &.editing {
      background-color: rgba(#000, 0.25);
      caret-color: unset;
      cursor: text;
      border-color: rgba(#fff, 0.2);
    }
  }

  .content {
    padding: 10px 30px;
    background-color: #2b2d3e;

    textarea {
      height: 50px;
      font-weight: bold;
    }
  }

  .description {
    padding: 30px;

    label {
      display: inline-block;
      font-size: 1.1em;
      margin: 0px 0px 7px 10px;
      color: #fff;
    }
  }
}
