#AppHeader {
  padding: 0px 30px;
  padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #28212b;
  padding: 12px 30px 12px 30px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;

  h1 {
    margin: 0px;
    font-size: 1.2em;
  }

  #menuItems {
    .menuItem {
      float: left;
      margin-left: 30px;
    }
    #user_name {
      color: #ffaf00;
      margin-right: 30px;
      opacity: 1;
    }
  }
}
