.App {
  text-align: center; }

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px; }

#TodoInputForm {
  margin-left: 50px;
  display: inline-block; }
  #TodoInputForm button {
    vertical-align: bottom;
    font-size: 1.5em;
    padding: 6px 10px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    background-color: #fff;
    opacity: 0.4;
    transition: 0.5s opacity;
    cursor: pointer; }
    #TodoInputForm button:focus {
      opacity: 1; }
    #TodoInputForm button:hover {
      opacity: 1; }

#TodoFilter {
  display: inline-block;
  margin-right: 20px; }
  #TodoFilter span {
    display: inline-block;
    margin: 0px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 14px 15px 10px 15px;
    border-radius: 8px;
    transition: 0.5s background-color;
    cursor: pointer; }
    #TodoFilter span.active {
      background-color: #005678; }

#todoInput {
  font-size: 1.25em;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: none;
  background-color: rgba(255, 255, 255, 0.07);
  padding-left: 15px;
  color: #eee;
  line-height: 39px;
  width: 500px; }
  #todoInput::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ccc; }
  #todoInput::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc; }
  #todoInput:-ms-input-placeholder {
    /* IE 10+ */
    color: #ccc; }
  #todoInput:-moz-placeholder {
    /* Firefox 18- */
    color: #ccc; }

#TodoList {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px; }

.TodoListItem {
  height: 35px;
  border-bottom: 1px solid #333;
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center; }
  .TodoListItem:first-of-type {
    border-top: 1px solid #333; }
  .TodoListItem.important .todo-content {
    color: #ffab00; }
  .TodoListItem.completed .todo-content {
    text-decoration: line-through;
    color: #707070; }
  .TodoListItem .todo-completed {
    margin-right: 30px;
    transform: scale(2.5);
    cursor: pointer; }
  .TodoListItem .todo-main .todo-content {
    font-size: 1.1em; }
  .TodoListItem .todo-main .todo-completedOn {
    color: #404040;
    font-size: 0.8em;
    margin-top: 5px; }
  .TodoListItem form.edit-todo {
    display: inline-block;
    vertical-align: top; }
    .TodoListItem form.edit-todo input {
      font-size: 1em; }
  .TodoListItem .todo-option-icons {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%; }
    .TodoListItem .todo-option-icons svg {
      height: 25px;
      cursor: pointer; }
  .TodoListItem svg.todo-importance {
    margin-right: 30px;
    fill: #ffab00; }
  .TodoListItem svg.todo-delete {
    fill: #f00;
    opacity: 0.15;
    transition: 0.5s opacity; }
    .TodoListItem svg.todo-delete:hover {
      opacity: 0.75; }
