@import "./colors.scss";

a {
  text-decoration: none;
  color: $link-color;
  cursor: pointer;
}

.form-group {
  padding: 0px 0px;

  label {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 15px;
  }

  input {
    border: none;
    padding: 6px 0px 6px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 6px;
    font-size: 1em;
  }
}

button {
  font-size: 1em;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  background-color: #fff;
  opacity: 0.4;
  transition: 0.5s opacity;
  cursor: pointer;

  &:focus {
    opacity: 1;
  }
  &:hover {
    opacity: 1;
  }
}

.App {
  text-align: center;
}

.route {
  margin: 0px 30px;
}
