$placeholder-color: #ccc;

.App {
  text-align: center;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}

#TodoInputForm {
  margin-left: 50px;
  display: inline-block;

  button {
    vertical-align: bottom;
    font-size: 1.5em;
    padding: 6px 10px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
    background-color: #fff;
    opacity: 0.4;
    transition: 0.5s opacity;
    cursor: pointer;

    &:focus {
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
  }
}

#TodoFilter {
  display: inline-block;
  margin-right: 20px;

  span {
    display: inline-block;
    margin: 0px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 14px 15px 10px 15px;
    border-radius: 8px;
    transition: 0.5s background-color;
    cursor: pointer;

    &.active {
      background-color: #005678;
    }
  }
}

#todoInput {
  font-size: 1.25em;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: none;
  background-color: rgba(255, 255, 255, 0.07);
  padding-left: 15px;
  color: #eee;
  line-height: 39px;
  width: 500px;

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $placeholder-color;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $placeholder-color;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $placeholder-color;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $placeholder-color;
  }
}

#TodoList {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

.TodoListItem {
  height: 35px;
  border-bottom: 1px solid #333;
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center;

  &:first-of-type {
    border-top: 1px solid #333;
  }

  &.important {
    .todo-content {
      color: #ffab00;
    }
  }

  &.completed {
    .todo-content {
      text-decoration: line-through;
      color: #707070;
    }
  }

  .todo-completed {
    margin-right: 30px;
    transform: scale(2.5);
    cursor: pointer;
  }

  .todo-main {
    .todo-content {
      font-size: 1.1em;
    }

    .todo-completedOn {
      color: #404040;
      font-size: 0.8em;
      margin-top: 5px;
    }
  }

  form.edit-todo {
    display: inline-block;
    vertical-align: top;

    input {
      font-size: 1em;
    }
  }

  .todo-option-icons {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    svg {
      height: 25px;
      cursor: pointer;
    }
  }

  svg.todo-importance {
    margin-right: 30px;
    fill: #ffab00;
  }

  svg.todo-delete {
    &:hover {
      opacity: 0.75;
    }

    fill: #f00;
    opacity: 0.15;
    transition: 0.5s opacity;
  }
}
