@import "./colors.scss";
@font-face {
  font-family: Lato;
  font-weight: 300;
  src: url(./assets/fonts/Lato-Light.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $background-color;
  color: #eee;
}

body,
input,
textarea {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
